Repository nhsuk/nhsuk-frontend, pull requests merged in 2025-03, with the labels that each got.

#1138 Left align header navigation items by default
  CHANGELOG.md
  packages/components/header/_header-white.scss
  packages/components/header/_header.scss
  packages/components/header/header.js
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_default_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_default_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_default_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_default_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_account_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_account_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_account_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_navigation_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_navigation_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_organisational_with_white_header_and_navigation_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_a_service_name_search_and_navigation_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_a_service_name_search_and_navigation_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_a_service_name_search_and_navigation_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_RBAC_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_RBAC_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_RBAC_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_RBAC_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_custom_html_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_custom_html_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_custom_html_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_logged_in_custom_html_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_navigation_and_search_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_navigation_and_search_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_navigation_and_search_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_account_navigation_and_search_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_0_document_1_iPhone_6-8.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_0_document_2_iPad.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_0_document_3_Surface_iPad_Pro.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_open_0_document_0_iPhone_5_SE.png
  tests/backstop/bitmaps_reference/nhsuk-frontend_Header_with_navigation_open_0_document_1_iPhone_6-8.png
Labels: header

#1155 Support form submission from header account items
  app/components/header/header-account-custom-html.njk
  app/components/header/header-account-logged-in.njk
  app/components/header/header-account-rbac.njk
  app/components/header/header-org-white-account.njk
  app/components/header/header-service-name-with-account-search-nav.njk
  packages/components/header/_header.scss
  packages/components/header/template.njk
Labels: Enhancement: feature request, header

#1200 Add bottom padding to `nhsuk-main-wrapper--l`
  CHANGELOG.md
  packages/core/objects/_main-wrapper.scss
Labels: spacing
