Repository nhsuk/nhsuk-frontend, pull requests merged in 2025-08, with the labels that each got.

#1516 Remove unused global Sass variables
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/core/settings/_globals.scss
Labels: sass / css, Code improvements

#1506 Add JavaScript configuration support to components
  .eslintrc.js
  CHANGELOG.md
  docs/installation/installing-with-npm.md
  jest.config.js
  package-lock.json
  packages/nhsuk-frontend/package.json
  packages/nhsuk-frontend/src/nhsuk/common/configuration/extract-config-by-namespace.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/extract-config-by-namespace.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/index.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/merge-configs.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/merge-configs.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-dataset.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-dataset.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-options.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-options.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-string.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/configuration/normalise-string.mjs
  packages/nhsuk-frontend/src/nhsuk/common/index.mjs
  packages/nhsuk-frontend/src/nhsuk/component.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/component.mjs
  packages/nhsuk-frontend/src/nhsuk/components/button/button.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/button/button.mjs
  packages/nhsuk-frontend/src/nhsuk/components/character-count/character-count.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/character-count/character-count.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/checkboxes.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/checkboxes.mjs
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/error-summary.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/error-summary.mjs
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/header/header.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/header/header.mjs
  packages/nhsuk-frontend/src/nhsuk/components/index.mjs
  packages/nhsuk-frontend/src/nhsuk/components/notification-banner/notification-banner.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/notification-banner/notification-banner.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/radios.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/radios.mjs
  packages/nhsuk-frontend/src/nhsuk/components/skip-link/skip-link.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/skip-link/skip-link.mjs
  packages/nhsuk-frontend/src/nhsuk/components/tabs/tabs.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/tabs/tabs.mjs
  packages/nhsuk-frontend/src/nhsuk/configurable-component.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/configurable-component.mjs
  packages/nhsuk-frontend/src/nhsuk/errors/index.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/errors/index.mjs
  packages/nhsuk-frontend/src/nhsuk/index.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/index.mjs
  packages/nhsuk-frontend/tasks/scripts.mjs
Labels: javascript

#1521 Update component icons
  CHANGELOG.md
  packages/nhsuk-frontend-review/src/examples/all-icons.njk
  packages/nhsuk-frontend-review/src/examples/all-links.njk
  packages/nhsuk-frontend-review/src/index.njk
  packages/nhsuk-frontend-review/src/layouts/page.njk
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-arrow-left.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-arrow-right-circle.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-arrow-right.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-cross.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-search.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-tick.svg
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-user.svg
  packages/nhsuk-frontend/src/nhsuk/components/action-link/_index.scss
  packages/nhsuk-frontend/src/nhsuk/components/action-link/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/card/_index.scss
  packages/nhsuk-frontend/src/nhsuk/components/card/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/do-dont-list/_index.scss
  packages/nhsuk-frontend/src/nhsuk/components/do-dont-list/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/header/_index.scss
  packages/nhsuk-frontend/src/nhsuk/components/header/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/pagination/_index.scss
  packages/nhsuk-frontend/src/nhsuk/components/pagination/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/tables/template.njk
  packages/nhsuk-frontend/src/nhsuk/core/settings/_globals.scss
  packages/nhsuk-frontend/src/nhsuk/core/styles/_icons.scss
  packages/nhsuk-frontend/src/nhsuk/core/styles/_lists.scss
  packages/nhsuk-frontend/src/nhsuk/core/tools/_mixins.scss
  packages/nhsuk-frontend/src/nhsuk/macros/icon.njk
  tests/backstop/bitmaps_reference/Action_link_desktop.png
  tests/backstop/bitmaps_reference/Action_link_mobile.png
  tests/backstop/bitmaps_reference/Card_primary_with_chevron_and_description_mobile.png
  tests/backstop/bitmaps_reference/Card_primary_with_chevron_mobile.png
  tests/backstop/bitmaps_reference/Card_primary_with_chevron_tablet.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_desktop.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_dont_desktop.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_dont_mobile.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_dont_tablet.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_mobile.png
  tests/backstop/bitmaps_reference/Do_and_Dont_list_tablet.png
  tests/backstop/bitmaps_reference/Pagination_mobile.png
  tests/backstop/bitmaps_reference/Pagination_tablet.png
Labels: accessibility, :boom: breaking change, action link, card, do and don't lists, header, pagination, icons

#1536 Add support for id param to all components
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/components/action-link/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/action-link/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/back-link/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/back-link/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/breadcrumb/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/breadcrumb/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/button/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/button/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/card/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/card/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/contents-list/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/contents-list/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/details/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/do-dont-list/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/do-dont-list/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/error-summary/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/fieldset/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/fieldset/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/footer/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/footer/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/header/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/header/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/hero/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/hero/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/images/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/images/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/inset-text/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/inset-text/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/label/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/label/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/notification-banner/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/notification-banner/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/pagination/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/pagination/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/panel/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/panel/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/radios/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/skip-link/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/skip-link/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/summary-list/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/summary-list/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/tables/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/tables/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/tabs/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/tag/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/tag/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/task-list/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/task-list/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/warning-callout/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/warning-callout/template.njk
Labels: nunjucks, card
