Repository nhsuk/nhsuk-frontend, pull requests merged in 2025-07, with the labels that each got.

#1463 Fix component nested Nunjucks macro options
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/summary-list/macro-options.mjs
Labels: documentation, checkboxes, radios, summary list

#1474 Fix missing `attributes` option on form groups
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/components/character-count/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/date-input/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/date-input/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/input/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/input/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/radios/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/template.njk
  packages/nhsuk-frontend/src/nhsuk/components/select/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/textarea/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/textarea/template.njk
Labels: :bug: bug, nunjucks

#1493 Fix regression test images again
  backstop.config.js
  tests/backstop/bitmaps_reference/Card_with_image_desktop.png
  tests/backstop/bitmaps_reference/Card_with_image_mobile.png
  tests/backstop/bitmaps_reference/Header_with_service_name_as_a_combined_link_focused_logo_desktop.png
  tests/backstop/bitmaps_reference/Header_with_service_name_as_a_combined_link_hovered_logo_desktop.png
  tests/backstop/bitmaps_reference/Header_with_service_name_focused_desktop.png
  tests/backstop/bitmaps_reference/Header_with_service_name_focused_large-desktop.png
  tests/backstop/bitmaps_reference/Header_with_service_name_focused_tablet.png
  tests/backstop/bitmaps_reference/Header_with_service_name_hovered_logo_tablet.png
Labels: Tests

#1489 Apply conditional reveal fixes from GOV.UK Frontend
  CHANGELOG.md
  packages/nhsuk-frontend-review/src/examples/conditional-reveals.njk
  packages/nhsuk-frontend-review/src/examples/multiple-radio-groups.njk
  packages/nhsuk-frontend-review/src/index.njk
  packages/nhsuk-frontend/src/nhsuk/common/index.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/common/index.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/checkboxes.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/checkboxes.mjs
  packages/nhsuk-frontend/src/nhsuk/components/checkboxes/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/macro-options.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/radios.jsdom.test.mjs
  packages/nhsuk-frontend/src/nhsuk/components/radios/radios.mjs
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_desktop.png
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_focused_desktop.png
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_focused_mobile.png
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_focused_tablet.png
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_mobile.png
  tests/backstop/bitmaps_reference/Radios_with_hint_text_error_message_tablet.png
Labels: checkboxes, radios

#1505 Fix Sass "Error: This module was already loaded"
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/core/_index.scss
  packages/nhsuk-frontend/src/nhsuk/core/_nhsuk-frontend-properties.scss
  packages/nhsuk-frontend/src/nhsuk/core/all.scss
  packages/nhsuk-frontend/src/nhsuk/core/core.unit.test.mjs
  packages/nhsuk-frontend/src/nhsuk/core/settings/_all.scss
  packages/nhsuk-frontend/src/nhsuk/core/tools/_all.scss
  packages/nhsuk-frontend/src/nhsuk/core/tools/_shape-arrow.scss
  packages/nhsuk-frontend/src/nhsuk/core/vendor/sass-mq.scss
Labels: :bug: bug, sass / css

#1512 Remove unused close icon
  CHANGELOG.md
  packages/nhsuk-frontend/src/nhsuk/assets/icons/icon-close.svg
  packages/nhsuk-frontend/src/nhsuk/core/styles/_icons.scss
Labels: header, icons
